
/* @import 'leaflet/dist/leaflet.css'; */


.App {
  font-family: sans-serif;
  text-align: center;
}


.leaflet-container img.leaflet-tile{

    
 filter: invert(80.9%) saturate(25%) brightness(328%) contrast(230%) sepia(7.1%) saturate(448%) hue-rotate(222deg) brightness(99%) contrast(104%) !important;


    /* invert(80.9%) saturate(25%) brightness(328%) contrast(230%) sepia(7.1%) saturate(448%) hue-rotate(222deg) brightness(99%) contrast(104%) */


}